body * {
  box-sizing: border-box;
}

body {
    font-family: Sans-Serif;
    font-size: 1.2em;
    color: black;
    background-color:rgb(196, 195, 195);
    padding: 0;
    margin: 0;
}



.container {
       display: flex;
       flex-direction: column;
       align-items: center;
}

.js-state{
    width:35px;
}

section .result-title{
    font-weight: 800;
}


.js-maxCount{
    width:35px;
}


h1 {
  text-align: center;
}

h4 {
  margin: 1rem 0;
}

.search-form {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.css-search {
    min-width: 200px;
    padding: .2em .5em;
    margin: .25em 0;
}

#find-btn {
    border:3px solid rgb(0, 102, 128);
    background-color: rgb(0, 102, 128);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    
}
#find-btn:hover {
    opacity: 0.3;
    }


input[type=text] {
    border:1px solid darkgrey;
    outline-color: 3px solid rgb(0, 102, 128);
    font-size: 1rem;
}
#search-label{
    font-weight: bold;
}



.hidden {
    display: none;
    visibility: hidden;
}

.error {
    color: red;
}

.results {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow:0px 3px 5px 1px lightgray;
    padding: 15px;
    font-size: 1rem;
    
}
.flex-container {
    max-width: 42rem;
    min-width: 325px;
   
}

.user {
    color: blue;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

ul{
    margin-top: -10px;
}

.result-item {
  width: 100%;
  border: 1px solid lightgray;
  padding: .5rem;
  border-radius: 4px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
